<form [formGroup]="form" (ngSubmit)="onSubmit()" @animate>

  <div class="field">
    <label class="label">
      {{'GROSS_INCOME' | translate}}
    </label>
    <div class="control has-icons-right">
      <input class="input is-primary is-medium" formControlName="grossIncome" type="number" inputMode="decimal" placeholder="0" step="1000">
      <span class="icon is-right has-text-primary">
        <i class="fas fa-fw fa-euro-sign"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">
      {{'NUM_OF_SALARIES' | translate}}
    </label>
    <div class="control">
      <div class="select is-primary is-medium is-fullwidth">
        <select formControlName="additionalSalaries">
          <option value="0">12 {{"SALARIES" | translate | lowercase}}</option>
          <option value="1">13 {{"SALARIES" | translate | lowercase}}</option>
          <option value="2">14 {{"SALARIES" | translate | lowercase}}</option>
          <option value="3">15 {{"SALARIES" | translate | lowercase}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">
      {{'NET_BONUS' | translate}}
    </label>
    <div class="control has-icons-right">
      <input class="input is-primary is-medium" formControlName="netBonus" type="number" inputMode="decimal" placeholder="0" step="100">
      <span class="icon is-right has-text-primary">
        <i class="fas fa-fw fa-euro-sign"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">
      &nbsp;
    </label>
    <div class="control">
      <button class="button is-primary is-medium is-fullwidth" type="submit" [class.is-loading]="form.disabled">
        <span class="icon">
          <i class="far fa-fw fa-file-alt"></i>
        </span>
        <strong>{{'SUBMIT' | translate}}</strong>
      </button>
    </div>
  </div>

</form>
