<form class="panel" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!(paycheck$ | async)" [@animate]="paycheck$">

  <div class="field">
    <label class="label">
      Gross income
    </label>
    <div class="control">
      <input class="input is-info" type="number" formControlName="grossIncome">
    </div>
  </div>

  <div class="field">
    <label class="label">
      Additional salaries
    </label>
    <div class="control">
      <input class="slider tooltip is-fullwidth is-info" type="range" step="1" min="0" max="3" formControlName="additionalSalaries" [attr.data-tooltip]="form.value.additionalSalaries">
    </div>
  </div>

  <div class="field">
    <label class="label">
      Net bonus
    </label>
    <div class="control">
      <input class="input is-info" type="number" formControlName="netBonus">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-info is-fullwidth" type="submit">
        <i class="icon far fa-fw fa-file-alt"></i>
        <strong>Get my paycheck</strong>
      </button>
    </div>
  </div>

</form>

<div class="pageloader is-info" [class.is-active]="loading$ | async"></div>

<div class="panel" *ngIf="paycheck$ | async as paycheck" [@animate]="paycheck$">

  <div class="level is-mobile">
    <div class="level-item">
      <p class="title has-text-centered">
        Your paycheck
      </p>
    </div>
  </div>

  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="has-text-weight-bold">
          Gross income
        </p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p class="has-text-success">
          {{paycheck?.grossIncome | number:'1.2-2':'it'}} €
        </p>
      </div>
    </div>
  </div>

  <div class="level is-mobile" *ngFor="let tax of paycheck?.taxes">
    <div class="level-left">
      <div class="level-item">
        <p class="has-text-weight-bold">
          {{tax?.code}}
        </p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p class="has-text-danger">
          - {{tax.value | number:'1.2-2':'it'}} €
        </p>
      </div>
    </div>
  </div>

  <div class="level is-mobile" *ngFor="let credit of paycheck?.credits">
    <div class="level-left">
      <div class="level-item">
        <p class="has-text-weight-bold">
          {{credit?.code}}
        </p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p class="has-text-success">
          + {{credit.value | number:'1.2-2':'it'}} €
        </p>
      </div>
    </div>
  </div>

  <div class="level is-divider"></div>

  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <p class="has-text-weight-bold">
          Net income
        </p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p class="has-text-success">
          {{paycheck?.netIncome | number:'1.2-2':'it'}} €
        </p>
      </div>
    </div>
  </div>

  <div class="level control">
    <button class="button is-info is-fullwidth" (click)="onReset()">
      <i class="icon fas fa-fw fa-undo"></i>
      <strong>Restart</strong>
    </button>
  </div>

</div>
