<form class="block" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!(paycheck$ | async)" [@animate]="paycheck$">

  <div class="field">
    <label class="label">
      {{'GROSS_INCOME' | translate}}
    </label>
    <div class="control has-icons-right">
      <input class="input is-info is-medium" type="number" placeholder="0" inputMode="decimal" formControlName="grossIncome">
      <i class="icon fas fa-fw fa-euro-sign is-right has-text-info"></i>
    </div>
  </div>

  <div class="field">
    <label class="label">
      {{'NUM_OF_SALARIES' | translate}}
    </label>
    <div class="control">
      <div class="select is-info is-medium is-fullwidth">
        <select formControlName="additionalSalaries">
          <option value="0">12 {{"SALARIES" | translate | lowercase}}</option>
          <option value="1">13 {{"SALARIES" | translate | lowercase}}</option>
          <option value="2">14 {{"SALARIES" | translate | lowercase}}</option>
          <option value="3">15 {{"SALARIES" | translate | lowercase}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">
      {{'NET_BONUS' | translate}}
    </label>
    <div class="control has-icons-right">
      <input class="input is-info is-medium" type="number" placeholder="0" inputMode="decimal" formControlName="netBonus">
      <i class="icon fas fa-fw fa-euro-sign is-right has-text-info"></i>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-info is-medium is-fullwidth" type="submit" [class.is-loading]="form.disabled">
        <i class="icon far fa-fw fa-file-alt"></i>
        <strong>{{'SUBMIT' | translate}}</strong>
      </button>
    </div>
  </div>

</form>

<div class="block" *ngIf="paycheck$ | async as paycheck" [@animate]="paycheck$">

  <div class="columns has-text-centered">
    <div class="column">
      <p class="title">
        {{'PAYCHECK' | translate}}
      </p>
    </div>
  </div>

  <div class="columns has-text-centered-mobile">
    <div class="column">
      <p class="has-text-weight-bold">
        {{'GROSS_INCOME' | translate}}
      </p>
      <p class="help">
        {{'GROSS_INCOME_HELP' | translate}}
      </p>
    </div>
    <div class="column is-narrow">
      <p class="has-text-success">
        {{paycheck?.grossIncome | number:'1.2-2'}} €
      </p>
    </div>
  </div>

  <div class="columns has-text-centered-mobile" *ngFor="let tax of paycheck?.taxes">
    <div class="column">
      <p class="has-text-weight-bold">
        {{tax?.code | translate}}
      </p>
      <p class="help">
        {{tax?.code + '_HELP' | translate}}
      </p>
    </div>
    <div class="column is-narrow">
      <p class="has-text-danger">
        - {{tax.value | number:'1.2-2'}} €
      </p>
    </div>
  </div>

  <div class="columns has-text-centered-mobile" *ngFor="let credit of paycheck?.credits">
    <div class="column">
      <p class="has-text-weight-bold">
        {{credit?.code | translate}}
      </p>
      <p class="help">
        {{credit?.code + '_HELP' | translate}}
      </p>
    </div>
    <div class="column is-narrow">
      <p class="has-text-success">
        + {{credit.value | number:'1.2-2'}} €
      </p>
    </div>
  </div>

  <div class="columns has-text-centered">
    <div class="column">
      <div class="is-divider is-marginless"></div>
    </div>
  </div>

  <div class="columns has-text-centered-mobile">
    <div class="column">
      <p class="has-text-weight-bold">
        {{'NET_INCOME' | translate}}
      </p>
      <p class="help">
        {{'NET_INCOME_HELP' | translate}}
      </p>
    </div>
    <div class="column is-narrow">
      <p class="has-text-info">
        {{paycheck?.netIncome | number:'1.2-2'}} €
      </p>
    </div>
  </div>

  <div class="columns has-text-centered-mobile">
    <div class="column">
      <button class="button is-info is-medium is-fullwidth" (click)="onBack()">
        <i class="icon fas fa-fw fa-chevron-left"></i>
        <strong>{{'BACK' | translate}}</strong>
      </button>
    </div>
  </div>

</div>
