<form class="panel" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!(paycheck$ | async)" [@animate]="paycheck$">

  <div class="field">
    <label class="label">
      {{'GROSS_INCOME' | translate}}
    </label>
    <div class="control">
      <input class="input is-info is-medium" type="number" inputMode="decimal" formControlName="grossIncome">
    </div>
  </div>

  <div class="field">
    <label class="label">
      {{'ADDITIONAL_SALARIES' | translate}}
    </label>
    <div class="control">
      <input class="input is-info is-medium" type="number" min="0" max="3" inputMode="numeric" formControlName="additionalSalaries">
    </div>
  </div>

  <div class="field">
    <label class="label">
      {{'NET_BONUS' | translate}}
    </label>
    <div class="control">
      <input class="input is-info is-medium" type="number" inputMode="decimal" formControlName="netBonus">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-info is-medium is-fullwidth" type="submit" [disabled]="form.disabled">
        <i class="icon far fa-fw fa-file-alt"></i>
        <strong>{{'SUBMIT' | translate}}</strong>
      </button>
    </div>
  </div>

</form>

<div class="panel" *ngIf="paycheck$ | async as paycheck" [@animate]="paycheck$">

  <div class="level">
    <div class="level-item">
      <p class="title has-text-centered">
        {{'PAYCHECK' | translate}}
      </p>
    </div>
  </div>

  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="has-text-weight-bold">
          {{'GROSS_INCOME' | translate}}
        </p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p class="has-text-success">
          {{paycheck?.grossIncome | number:'1.2-2'}} €
        </p>
      </div>
    </div>
  </div>

  <div class="level" *ngFor="let tax of paycheck?.taxes">
    <div class="level-left">
      <div class="level-item">
        <p class="has-text-weight-bold">
          {{tax?.code | translate}}
        </p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p class="has-text-danger">
          - {{tax.value | number:'1.2-2'}} €
        </p>
      </div>
    </div>
  </div>

  <div class="level" *ngFor="let credit of paycheck?.credits">
    <div class="level-left">
      <div class="level-item">
        <p class="has-text-weight-bold">
          {{credit?.code | translate}}
        </p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p class="has-text-success">
          + {{credit.value | number:'1.2-2'}} €
        </p>
      </div>
    </div>
  </div>

  <div class="level is-divider"></div>

  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="has-text-weight-bold">
          {{'NET_INCOME' | translate}}
        </p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <p class="has-text-success">
          {{paycheck?.netIncome | number:'1.2-2'}} €
        </p>
      </div>
    </div>
  </div>

  <div class="level">
    <button class="button is-info is-medium is-fullwidth" (click)="onBack()">
      <i class="icon fas fa-fw fa-chevron-left"></i>
      <strong>{{'BACK' | translate}}</strong>
    </button>
  </div>

</div>
