<nav class="navbar is-info">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="assets/images/logo-inverted.png" alt="Neat">
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Country</a>
        <div class="navbar-dropdown is-right is-boxed">
          <a class="navbar-item" routerLink="/it">Italy</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-light is-fullheight">
  <div class="hero-body">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <strong>Neat</strong> by <a href="https://github.com/avalloneandrea">Andrea Avallone</a>
  </div>
</footer>
