<section class="hero is-primary is-bold is-fullheight">
  <div class="hero-body">
    <div class="has-text-centered">
      <h1 class="title">Lorem Ipsum</h1>
      <h2 class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit orci vitae mi sagittis, eget pharetra
        ligula efficitur. Fusce tempor mollis velit, eget ultrices leo rutrum sed. Curabitur nec ante sollicitudin,
        dignissim neque et, ullamcorper tortor. Proin tempus porttitor finibus. Proin congue dolor quis dui porta
        semper. Fusce finibus ultricies quam, eu suscipit odio mollis a. Donec orci libero, facilisis in condimentum a,
        suscipit sed dolor. Suspendisse ullamcorper mattis fringilla. Curabitur non nibh non nibh commodo fringilla.
      </h2>
    </div>
  </div>
</section>
