/* You can add global styles to this file, and also import other style files */

$primary: hsl(202, 100%, 40%);
$link: $primary;
$footer-background-color: $primary;

@import "~bulma/bulma.sass";
@import "~@fortawesome/fontawesome-free/css/all.css";
